{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>login</title>
    <link href="{% static 'robot_app/bootstrap.min.css' %}" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <style>
        body {
            text-align: center;
        }
        p.title {
            margin-top: 15px;
        }
        div.qrcode {
            text-align: center;
        }
        #run {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
	<p class="title">请扫描下面的二维码，手机确认登陆之后点击蓝色登陆按钮</p>
    <div class="qrcode"><img src="data:image/png;base64,{{ qrStorage }}"></div>
    <button id="run" type="button" class="btn btn-primary">登陆</button>
    <p class="notify">微信不能识别此二维码截屏后的图片，请使用手机扫描电脑或其他手机</p>
    <p class="notify" style="margin-bottom: 20px">新申请的微信号无法登陆微信网页版，如遇登陆失败，请先检测所用微信号是否能登陆微信网页版</p>
    <p class="link" style="display: none">如需发送操作请访问如下链接</p>
    <a class="link handle" style="display: none" href=""></a>
</body>
<script src="{% static 'robot_app/jquery.min.js' %}"></script>
<script>
    var serverUrl = 'http://localhost:8999/robot'
    //var serverUrl = 'http://39.106.106.129:8999/robot' // for self test server
    var successInterval
    logining = false
    $("#run").click(function (event) {
        if (logining) return
        logining = true
        var runAjax = $.ajax({
           url: serverUrl + '/run',
           type: 'get'
       })
        successInterval = setInterval(check_login_status, 2000)

        runAjax.done(function (data) {
            console.log(data)
            clearInterval(successInterval)
            if (data == 'notScan') {
                $('img').hide()
                $('#run').hide()
                $('.title').text('微信机器人登陆失败')
            }
            logining = false
        })
    });

    function check_login_status() {
        var check_status = $.ajax({
            url: serverUrl + '/check_login',
            type: 'get'
        })
        check_status.done(function(data) {
            console.log(data)
            if (data.isLogin) {
                $('img').hide()
                $('#run').hide()
                $('.notify').hide()
                $('.title').text('微信机器人-->  ' + data.nickName + '  <--已经成功登陆,请关闭此页面')
                $('.link').show()
                var url = serverUrl + '/send_page?chat_id=' + data.chat_id;
                $(".handle").attr('href', url).text(url)
                clearInterval(successInterval)
            }
        })
    }
</script>
</html>